<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Tanel Metshein</title>
  </head>
<body>
  <img src="/img/vp_banner_2025_TA.jpg" alt="bänner">
  <h1>Tanel Metshein, veebiprogrammeerimine</h1>
  <p>See leht on loodud aastal 2025 <a href="https://www.tlu.ee">Tallina Ülikoolis</a></p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Eesti film</h2>
  <ul>
    <li><a href="/Eestifilm/inimesed">Eesti filmi inimesed</a></li>
	<li><a href="/Eestifilm/inimesed_add">Eesti filmi inimeste lisamine</a></li>
	<li><a href="/Eestifilm/positsion_add">Eesti filmi inimeste positsiooni lisamine</a></li>
	<li><a href="/Eestifilm/positsion">Eesti filmi inimeste positsioon</a></li>
	<li><a href="/Eestifilm/eestifilm_add">Eesti filmide lisamine</a></li>
	<li><a href="/Eestifilm/eestifilm_seosed">seosed isikute, filmide ja ametide vahel</a></li>
  </ul>
</body>
</html>