<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Tanel Metshein</title>
  </head>
<body>
  <img src="/img/vp_banner_2025_TA.jpg" alt="bänner">
  <h1>Tanel Metshein, veebiprogrammeerimine</h1>
  <p>See leht on loodud aastal 2025 <a href="https://www.tlu.ee">Tallina Ülikoolis</a></p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Pane end külastajana kirja</h2>
  <form method="POST">
    <label for="firstNameInput">Eesimi</label>
	  <input id="firstNameInput" type="text" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
    <br>
    <label for="lastNameInput">Perekonnanimi</label>
	  <input id="lastNameInput" type="text" name="lastNameInput" placeholder="Kirjuta siia oma perekonnanimi...">
    <br>
	  <input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
  </form>
</body>
</html>