<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Tanel Metshein</title>
  </head>
<body>
  <img src="/public/images/vp_banner_2025_TA.jpg" alt="bäer">
  <h1>Tanel Metshein, veebiprogrammeerimine</h1>
  <p>See leht on loodud aastal 2025 <a href="https://www.tlu.ee">Tallina Ülikoolis</a></p>
  <hr>
  <h2>Teretulemast <%= user %>!</h2>
  <ul>
    <li><a href="/logout">Logi Välja</a></li>
    <li><a href="/galleryphotupload">Galeriisse fotode üleslaadimine</a></li>
    <li><a href="/gallery">Fotogalerii</a></li>
  </ul>
</body>
</html>