<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Tanel Metshein</title>
  </head>
<body>
  <img src="/img/vp_banner_2025_TA.jpg" alt="bäer">
  <h1>Tanel Metshein, veebiprogrammeerimine</h1>
  <p>See leht on loodud aastal 2025 <a href="https://www.tlu.ee">Tallina Ülikoolis</a></p>
  <hr>
  <ul>
    <li><a href="/signup">Kasutajakonto loomine</a></li>
    <li><a href="/timenow">Ajainfo</a></li>
    <li><a href="/genericlist">Vanasõnad</a></li>
    <li><a href="/regvisit">Pane oma külastus kirja</a></li>
    <li><a href="/visitregistered">Vaata külastusi</a></li>
    <li><a href="/Eestifilm">Eesti film</a></li>
    <li><a href="/galleryphotupload">Galeriisse fotode üleslaadimine</a></li>
    <li><a href="/gallery">Fotogalerii</a></li>
  </ul>
    <h2>Uusim avalik foto</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>