<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Tanel Metshein</title>
  </head>
<body>
  <img src="/img/vp_banner_2025_TA.jpg" alt="bänner">
  <h1>Tanel Metshein, veebiprogrammeerimine</h1>
  <p>See leht on loodud aastal 2025 <a href="https://www.tlu.ee">Tallina Ülikoolis</a></p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  <li><a href="/regvisit">Registreeri veel üks külastus</a></li>
  </ul>
  <hr>
  <% if (typeof visitor !== 'undefined') { %>
  <p><%= visitor %> külastus edukalt salvestatud</p>
<% } else { %>
  <h2><%= heading %></h2>
  <ul>
    <% listData.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>
<% } %>

</body>
</html>